body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('ballom.gif') no-repeat center center fixed;
    background-size: cover;
}

.center-image {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

.social-icon {
    display: inline-block;
    margin-left: 10px;
    color: white; /* Adjust color if needed */
    text-decoration: none;
    font-size: 24px; /* Adjust size as needed */
}

.social-icon:hover {
    color: #1da1f2; /* Change color on hover (Twitter blue) */
}

.social-icon:nth-child(2):hover {
    color: #0088cc; /* Change color on hover (Telegram blue) */
}
